- url = @question.new_record? ? quiz_questions_path(@quiz) : quiz_question_path(@quiz, @question)
- klass = @question.new_record? ? "new" : "edit"

= simple_form_for @question, url: url, html: {class: "#{klass} #{@question.category}"} do |f|

  = f.hidden_field :category, value: @question.category

  = f.input :content, label: (@question.boolean? ? "Tvrdnja" : "Pitanje")

  = render partial: "question_#{@question.category}", object: @question, as: :question, locals: {f: f}

  = f.input :hint, input_html: {cols: 50},
    hint: "Ovdje možete, po potrebi, staviti dodatnu napomenu vezanu uz ovo pitanje, koju će učenici vidjeti kada budu odgovarali na njega."

  .buttons
    = link_to "Odustani", (@question.new_record? ? new_quiz_question_path(@quiz) : quiz_questions_path(@quiz))
    = f.button :submit
