= simple_form_for @question, url: url, as: :question, html: {class: "#{klass} #{@question.category}"} do |f|

  = hidden_field_tag :category, params[:category]

  = f.input :content, label: "Tekst pitanja"

  = render partial: "#{@question.category}_question_fields", object: @question, as: "#{@question.category}_question", locals: {f: f}

  = f.input :hint, placeholder: %(Npr. "Odgovor piši u nominativu.")

  = buttons(f) do |b|
    = b.cancel_button "Odustani", quiz_questions_path(@quiz)
    = b.submit_button
