- url = @question.new_record? ? quiz_questions_path(@quiz) : quiz_question_path(@quiz, @question)

= simple_form_for @question, url: url, html: {class: @question.category} do |f|

  = f.hidden_field :category, value: @question.category

  = f.input :content, label: (@question.boolean? ? "Tvrdnja" : "Pitanje")

  - if @question.boolean?

    = f.collection_radio_buttons :data, [[true, "Točno"], [false, "Netočno"]], :first, :last, checked: @question.answer

  - elsif @question.choice?

    - input_collection(f) do |c|

      - 4.times do |idx|
        = c.input :data, as: :string, label: "Opcija #{idx + 1}", input_html: {value: @question.provided_answers[idx]}, hint: ("Ovo će biti točan odgovor" if idx == 0)

  - elsif @question.association?

    - input_collection(f) do |c|

      .column
        - 4.times do |idx|
          = c.input :data, as: :string, label: "Opcija #{idx + 1}", input_html: {value: @question.provided_answers[idx]}

      .column
        - 4.times do |idx|
          = c.input :data, as: :string, label: "Opcija #{idx + 1}", input_html: {value: @question.provided_answers[idx + 4]}

  - elsif @question.photo?

    = f.input :attachment
    = f.input :data, as: :string, label: "Odgovor"

  - elsif @question.text?

    = f.input :data, as: :string, label: "Odgovor"

  = f.input :points, collection: (1..5), as: :radio_buttons

  .controls
    - back_link = (@question.new_record? ? new_quiz_question_path(@quiz) : quiz_path(@quiz))
    = link_to "Odustani", back_link
    = f.button :submit
