- url = @question.new_record? ? quiz_questions_path(@quiz) : quiz_question_path(@quiz, @question)
- klass = @question.new_record? ? "new" : "edit"

= simple_form_for @question, url: url, html: {class: "#{klass} #{@question.category}"} do |f|

  = f.hidden_field :category, value: @question.category

  = f.input :content, label: (@question.boolean? ? "Tvrdnja" : "Pitanje")

  = render partial: "question_#{@question.category}", object: @question, as: :question, locals: {f: f}

  = f.input :points, collection: (1..5), as: :radio_buttons, wrapper_html: {class: "points"}, collection_wrapper_tag: false, item_wrapper_tag: :span

  .buttons
    = link_to "Odustani", (@question.new_record? ? new_quiz_question_path(@quiz) : quiz_questions_path(@quiz))
    = f.button :submit
