= simple_form_for @question, url: url, as: :question, html: {class: "#{klass} question_#{@question.category}"} do |f|

  = hidden_field_tag :category, params[:category]

  = f.input :content, label: "Tekst pitanja", input_html: {autofocus: current_page?(action: "new")}

  = render partial: "#{@question.category}_question_fields", object: @question, as: "#{@question.category}_question", locals: {f: f}

  = f.input :hint, placeholder: %(Npr. "Odgovor piši u nominativu."), hint: "Ovo će se prikazati kao pomoć pri odgovaranju na pitanje."


  = buttons(f) do |b|
    = b.cancel_button "Odustani", polymorphic_path([@quiz, Question])
    = b.submit_button
