= simple_form_for @question, url: url, as: :question, html: {class: "#{klass} #{@question.category}"} do |f|

  = hidden_field_tag :category, params[:category]

  = f.input :content, label: "Tekst pitanja", input_html: {rows: 1}

  = render partial: "#{@question.category}_question_fields", object: @question, as: "#{@question.category}_question", locals: {f: f}

  = f.input :hint, input_html: {cols: 50, rows: 1},
    placeholder: %(Npr. "Odgovor piši u nominativu.")

  .buttons
    = link_to "Odustani", quiz_questions_path(@quiz)
    = f.button :submit
