= f.error :image
= f.error :image_file_size

= f.input :image_file, as: :file
= f.input :image_url, placeholder: "Npr. \"http://neka-slika.jpg\""

- if image_question.image.present?
  %img.preview{src: image_question.image.url(:resized)}
- else
  %img.preview{style: 'display: none'}

= notice "Slika će se proporcionalno smanjiti na visinu od 250 px."

= f.input :answer, as: :string, input_html: {title: answer_title}
