= f.input :image_file, as: :file
= f.input :image_url, hint: "Ako se vaša slika nalazi na internetu".append_icon("arrow-up")

- if image_question.image?
  %img.preview{src: image_question.image.url(:resized)}
- else
  %img.preview
  .placeholder= "".prepend_icon("picture")
  = notice "Slika će se proporcionalno smanjiti na visinu od 250px."

= f.input :answer, as: :string
