- if @parent
  .item_controls
    = edit_button "", polymorphic_path([@parent, question.becomes(Question)], action: "edit"), title: "Izmjeni"
    = delete_button "", polymorphic_path([@parent, question.becomes(Question)], action: "delete"), title: "Izbriši"

.name
  = categories[question.category.to_sym][1]
  %span.content= question.content
  = link_to "Dodaj", copy_question_path(question) if not @parent
