%h2= smarty_pants question.content

- if question.boolean?

  = f.collection_radio_buttons :answer, [["true", "Točno"], ["false", "Netočno"]], :first, :last

- elsif question.choice?

  = f.collection_radio_buttons :answer, question.provided_answers.shuffle.zip([]), :first, :first

- elsif question.association?

  %ol.column.static
    = list_of question.provided_answers.keys do |answer|
      = f.input(:answer, input_html: {name: "game[answer][]", value: answer}, label: false).prepend_icon("arrow-right")

  %ol.column.interactive
    = list_of question.provided_answers.values.shuffle do |answer|
      = f.input :answer, input_html: {name: "game[answer][]", value: answer}, label: false

- elsif question.photo?

  %p= image_tag question.attachment.url(:medium)
  = f.input :answer

- elsif question.text?

  = f.input :answer
