.btn-group
  = link_to icon("plus"), copy_school_question_path(current_user, question), class: "btn", title: "Kopiraj"
  - if @scope
    = edit_button "", polymorphic_path([@scope, question.becomes(Question)], action: "edit"), title: "Izmjeni"
    = delete_button "", polymorphic_path([@scope, question.becomes(Question)], action: "delete"), title: "Izbriši"

%span.category= categories[question.category.to_sym][1]
%span.name= question.content
