.dropdown.hover.actions
  = link_to icon("chevron-left"), "#", class: "dropdown-toggle", data: {toggle: "dropdown"}
  %ul.dropdown-menu.pull-right
    -# %li= view_button "Pogledaj", quiz_question_path(@quiz, question)
    %li= edit_button "Izmijeni", edit_quiz_question_path(@quiz, question), class: ""
    -# %li= copy_button "Dupliciraj", copy_quiz_question_path(@quiz, @question)
    %li= remove_file_button "Izbriši", quiz_question_path(@quiz, question), method: :delete

%span.category= question_icons(question.category)
%span.name= question.content
