= simple_form_for Filter.new(params[:filter]), url: request.path, method: "get" do |f|
  = f.input :tags
  = buttons(f) do |b|
    = b.cancel_button "OÄistite filter", request.path
    = b.button_button "Filtrirajte", name: nil
