- @title = "Novo pitanje"

%p= back_button "Natrag", quiz_questions_path(@quiz)

%p Izaberite kategoriju:

%ol.categories
  = list_of categories do |value, label|
    %a{href: new_quiz_question_path(@quiz, category: value)}
      .icon{class: value}
        - case value
          - when "boolean"
            = icon("checkbox")
          - when "choice"
            = icon("list-view")
          - when "association"
            = icon("shuffle")
          - when "photo"
            = icon("picture")
          - when "text"
            %span Abc
      .label= label
