= simple_form_for :download, url: download_quiz_question_path(@quiz, @question), method: :post, html: {class: "modal"} do |f|
  .modal-header
    = remove_button dismiss: "modal"
    %h1 U koji kviz želite staviti ovo pitanje?

  .modal-body
    .list-unstyled
      = f.input :location, as: :radio_buttons, collection: current_user.quizzes, input_html: {name: "location"}, label: false

  .modal-footer
    = buttons do
      = cancel_button "Odustani", quiz_questions_path(@quiz)
      = submit_button "Preuzmi"
