- title "Izmjena redoslijeda"

= simple_form_for @quiz, url: order_quiz_questions_path(@quiz) do |f|

  %ol.sort.space-bottom
    - @questions.each do |question|
      = content_tag_for :li, question, class: "sort-item" do
        = f.simple_fields_for :questions, question do |q|
          = render "question_short", {question: question, f: q}

  = buttons do
    = cancel_button "Odustani", quiz_questions_path(@quiz)
    = submit_button "Spremi"
