- title @quiz.name

.clearfix
  .dropdown.pull-left.space-bottom
    = add_button "Novo pitanje".append_icon("caret-down"), "#", class: "btn btn-primary dropdown-toggle", data: {toggle: "dropdown"}
    %ul.dropdown-menu
      %li= link_to "Točno/netočno".prepend_icon("checkbox"),     new_quiz_question_path(category: "boolean")
      %li= link_to "Ponuđeni odgovori".prepend_icon("list"),     new_quiz_question_path(category: "choice")
      %li= link_to "Asocijacija".prepend_icon("shuffle"),        new_quiz_question_path(category: "association")
      %li= link_to "Upiši točan odgovor".prepend_icon("pencil"), new_quiz_question_path(category: "text")

  = link_to "Izmijeni redoslijed".prepend_icon("sort"), order_quiz_questions_path(@quiz), class: "btn pull-right"
  .pull-right= render "quizzes/activation_button", quiz: @quiz

- unless @quiz.activated?
  .alert.alert-warning
    Ovaj je kviz trenutno neaktivan, učenici ga neće moći igrati dok ga ne aktivirate.

- if @questions.any?

  %ol.list-pretty
    - @questions.each do |question|
      = content_tag_for :li, question, class: "list-pretty-item" do
        = render "question", question: question
      %li{class: "l-question-#{question.category} list-pretty-item list-pretty-content"}
        = image_tag question.image.url(:resized), class: "img-polaroid space-half-bottom", style: "width: 300px" if question.image?
        = render "questions/answer/#{question.category}", question: question, answer: question.answer

- else

  %p.no-items Ovaj kviz trenutno nema pitanja
