- if @scope.is_a?(Quiz) && (quiz = @scope)

  - @title = quiz.name

  = render "dropdown"

  = edit_button "Izmjeni informacije o kvizu", edit_quiz_path(quiz), class: "btn edit_quiz"

  = simple_form_for :game_submission, url: game_path, method: :post do |f|
    = f.hidden_field :quiz_id, value: quiz.id
    = f.hidden_field :players_count, value: 1
    = f.button :button, "Isprobajte kviz", {class: "btn btn-info"}.merge(@questions.count == 0 ? {disabled: true} : {})

  - if @questions.any?

    %ol.question_list
      = render collection: @questions, partial: "question_item", as: :question

  - else

    %p.no_items Ovaj kviz trenutno nema pitanja.

- elsif @scope.is_a?(School) && (school = @scope)

  - @title = "Pitanja"

  %ul.nav.nav-pills
    %li{class: (request.path == school_questions_path(current_user) && "active")}
      = link_to "Vaša pitanja", school_questions_path(current_user)
    %li{class: (request.path == questions_path && "active")}
      = link_to "Pitanja drugih škola", questions_path

  = render "tag_filter"
  = render "dropdown"

  - if @questions.any?

    %ol.question_list
      = render collection: @questions, partial: "question_item", as: :question

  - else

    - if params[:filter]
      %p.no_items Nema pitanja s tim tagovima.
    - else
      %p.no_items Trenutno nemate pitanja.

  = will_paginate @questions

- else

  - @title = "Pitanja"

  %ul.nav.nav-pills
    %li{class: (request.path == school_questions_path(current_user) && "active")}
      = link_to "Vaša pitanja", school_questions_path(current_user)
    %li{class: (request.path == questions_path && "active")}
      = link_to "Pitanja drugih škola", questions_path

  = render "tag_filter"

  - if @questions.any?

    %ol.question_list
      = render collection: @questions, partial: "question_item", as: :question

  - else

    - if params[:filter]
      %p.no_items Nema pitanja s tim tagovima.
    - else
      %p.no_items Druge škole trenutno nemaju pitanja.

  = will_paginate @questions
