- @title = @quiz.name

= back_button "Kvizovi", root_path

= simple_form_for :game_submission, url: game_path, method: :post do |f|
  = f.hidden_field :quiz_id, value: @quiz.id
  = f.hidden_field :players_count, value: 1
  = buttons(f) do |b|
    = b.submit_button "Isprobajte kviz"

%h1
  %span.name= @quiz.name
  %span.section pitanja

- if @quiz.questions.any?
  %ol.questions
    = render collection: @quiz.questions, partial: "question_item", as: :question
- else
  %p Ovaj kviz trenutno nema pitanja.

%p= add_button "Novo pitanje", new_quiz_question_path(@quiz)
