- @title = (@parent.is_a?(Quiz) ? @parent.name : "Pitanja")

= back_button "Natrag", root_path

%h1
  %span.name= (@parent ? @parent.name : "Svi")
  %span.section pitanja

- if @parent.is_a?(Quiz)
  = simple_form_for :game_submission, url: game_path, method: :post do |f|
    = f.hidden_field :quiz_id, value: @parent.id
    = f.hidden_field :players_count, value: 1
    = buttons(f) do |b|
      = b.submit_button "Isprobajte kviz", (@questions.count == 0 ? {disabled: true} : {})

- if @parent
  %p= add_button "Novo pitanje", polymorphic_path([@parent, Question], action: "new")

- if @questions.any?

  %ol.question_list
    = render collection: @questions, partial: "question_item", as: :question

- else

  %p Trenutno nemate pitanja.

