= simple_form_for :question do |f|
  = f.input :type do
    = f.collection_radio_buttons :type,
     [[1, 'Točno/netočno'],
      [2, '4 ponuđena odgovora'],
      [3, 'Asocijacija'],
      [4, 'Pogodi tko/što je na slici'],
      [5, 'Upiši točan odgovor']],
      :first, :last,
      :collection_wrapper_tag => :ol,
      :item_wrapper_tag => :li
  = f.input :content
  .choice
    = f.input_collection :answer, :times => 4, :label => "Opcija"
  .association
    .column
      = f.input_collection :answer, :times => 4, :label => "Opcija"
    .column
      = f.input_collection :answer, :times => 4, :label => "Opcija"
  .photo
    = f.input :file, :as => :file
    = f.input :answer
  .text
    = f.input :answer
  = f.button :submit
