= simple_form_for @question do |f|

  = f.input :kind do
    = f.collection_radio_buttons :kind,
     [[1, 'Točno/netočno'],
      [2, '4 ponuđena odgovora'],
      [3, 'Asocijacija'],
      [4, 'Pogodi tko/što je na slici'],
      [5, 'Upiši točan odgovor']],
      :first, :last,
      :collection_wrapper_tag => :ol,
      :item_wrapper_tag => :li

  = f.input :content

  .boolean
    = f.input :boolean, :collection => [:t, :f], :as => :radio_buttons, :label => false

  .choice
    = f.input_collection :choice, :times => 4, :label => "Opcija"

  .association
    = f.simple_fields_for :association do |a|
      .column
        = a.input_collection :left_column, :times => 4, :label => "Opcija"
      .column
        = a.input_collection :right_column, :times => 4, :label => "Opcija"

  .photo
    = f.simple_fields_for :photo do |p|
      = p.input :file, :as => :file
      = p.input :answer

  .text
    = f.input :text

  = f.button :submit
