- @title = "Novo pitanje"

= simple_form_for @question, url: quiz_questions_path(@question.quiz) do |f|

  = f.input :category do
    = f.collection_radio_buttons :category,
     [[1, 'Točno/netočno'],
      [2, '4 ponuđena odgovora'],
      [3, 'Asocijacija'],
      [4, 'Pogodi tko/što je na slici'],
      [5, 'Upiši točan odgovor']],
      :first, :last,
      collection_wrapper_tag: :ol,
      item_wrapper_tag: :li

  = f.input :content

  = f.simple_fields_for :data do |d|

    .boolean
      = d.collection_radio_buttons :boolean, [[true, "Točno"], [false, "Netočno"]], :first, :last

    .choice
      = d.input_collection :choice, times: 4

    .association
      .column
        = d.input_collection :association, times: 4
      .column
        = d.input_collection :association, times: 4

    .photo
      = f.input :attachment, as: :file
      = d.input :photo

    .text
      = d.input :text

  = f.input :points

  = f.button :submit, "Spremi"
  = link_to "Odustani", quiz_path(@question.quiz)
