= simple_form_for @question do |f|

  = f.input :kind do
    = f.collection_radio_buttons :kind,
     [[1, 'Točno/netočno'],
      [2, '4 ponuđena odgovora'],
      [3, 'Asocijacija'],
      [4, 'Pogodi tko/što je na slici'],
      [5, 'Upiši točan odgovor']],
      :first, :last,
      collection_wrapper_tag: :ol,
      item_wrapper_tag: :li

  = f.simple_fields_for :content do |c|
    = c.input :text, as: :text

  = f.simple_fields_for :data do |d|

    .boolean
      = d.collection_radio_buttons :boolean, [[:true, "Točno"], [:false, "Netočno"]], :first, :last

    .choice
      = d.input_collection :choice, times: 4, label: "Opcija"

    .association
      .column
        = d.input_collection :association, times: 4, label: "Opcija"
      .column
        = d.input_collection :association, times: 4, label: "Opcija"

    .photo
      = d.simple_fields_for :photo do |p|
        = p.input :photo, as: :file
        = p.input :answer

    .text
      = d.input :text

  = f.button :submit
