- @title = "Novo pitanje"

- if params[:category]

  = back_button "Kategorije", new_quiz_question_path(@quiz)

  %h1
    %span.name= @quiz.name
    %span.section= @title.downcase

  = render partial: "form", locals: {url: quiz_questions_path(@quiz), klass: "new"}

- else

  = back_button "Pitanja", quiz_questions_path(@quiz)

  %h1
    %span.name= @quiz.name
    %span.section= @title.downcase

  %p Izaberite kategoriju:

  %ol.categories
    = list_of categories do |value, (label, icon)|
      %a{href: new_quiz_question_path(@quiz, category: value)}
        .icon{class: value}= icon
        .label= label
