%ul.nav.pull-left
  %li{class: ("active" if params[:controller].in? ["quizzes", "questions"])}
    = link_to "Kvizovi", quizzes_path

  %li{class: ("active" if params[:action] == "tour")}
    = link_to "VodiÄ", tour_path

%ul.nav.pull-right
  = render "survey" if user_logged_in? and not current_user.completed_survey?
  = render "contact"
  = render "log" if user_logged_in?
