= content_tag_for :tr, quiz do
  %td
    .row
      .col-xs-6
        .pull-left.m-right-hl
          = render "activation_button", quiz: quiz
          = image_tag quiz.image.url(:small), size: "80x80"

        .m-top-qt
          = quiz.name
          %span (#{quiz.questions.count})

      .col-xs-6.text-right
        = button icon("clipboard"), account_quiz_questions_path(quiz), class: "btn-sm btn-default", title: "Pitanja"
        = edit_button "", edit_account_quiz_path(quiz), class: "btn-sm btn-default", title: "Izmijeni"
        = button icon("eye"), played_quizzes_path(quiz_id: quiz.id), class: "btn-sm btn-default", title: "Prati"
        = delete_button "", account_quiz_path(quiz), remote: true, class: "btn-sm", title: "Izbriši", data: {confirm: "Jeste li sigurni da želite izbrisati ovaj kviz?"}
