= simple_form_for @quiz do |f|

  = f.input :name
  = f.input :grades, collection: ordinalize(@quiz.school.grades).zip(@quiz.school.grades), as: :check_boxes

  = f.button :submit, "Spremi"
  = link_to "Odustani", @quiz
