= simple_form_for @quiz do |f|

  = f.error :base

  = f.input :name
  = f.input :grades, collection: grades, as: :check_boxes
  = f.input :activated

  .controls
    = link_to "Odustani", quizzes_path
    = f.button :submit
