= simple_form_for @quiz do |f|

  = f.error :base

  = f.input :name
  = f.input :grades, collection: grades, as: :check_boxes
  = f.input :activated unless @quiz.new_record?

  .buttons
    = link_to "Odustani", quizzes_path
    = f.button :submit

  = notice "Kviz neće biti vidljiv učenicima dok ga ne učinite vidljivim." if @quiz.new_record?
