= simple_form_for @quiz do |f|

  = f.error :base

  = f.input :name

  %p Predviđeni razredi:
  = f.input :grades, collection: grades, as: :check_boxes, label: false

  .buttons
    = link_to "Odustani", quizzes_path
    = f.button :submit

  - if @quiz.new_record?
    = notice "Kviz zasad neće biti vidljiv učenicima. Kasnije ga možete učiniti vidljivim kada bude spreman."
