= simple_form_for @quiz do |f|

  = f.input :name, input_html: {autofocus: current_page?(action: "new")}
  = f.input :category, input_html: {value: (@quiz.category || @last_category), data: {provide: "typeahead", source: @existing_categories.to_json}}

  = buttons do
    = cancel_button "Odustani", quizzes_path
    = submit_button "Spremi"

  - if @quiz.new_record?
    = alert_message "Kviz zasad neće biti vidljiv učenicima. Kasnije ga možete učiniti vidljivim kada bude spreman.", "info", close: false, class: "space-quart-top"
