- present quiz do |quiz_presenter|

  .list-pretty-item-actions.dropdown.dropdown-hover
    = link_to icon("chevron-left"), "#", class: "dropdown-toggle", data: {toggle: "dropdown"}
    %ul.dropdown-menu.pull-right
      %li= link_to "Pitanja".prepend_icon("clipboard"), quiz_questions_path(quiz)
      %li= edit_button "Izmijeni", edit_quiz_path(quiz), class: "" # don't apply default classes
      %li= delete_button "Izbriši", delete_quiz_path(quiz), class: "item-danger"

  = quiz_presenter.visibility_icon

  %span.list-pretty-item-content
    = quiz_presenter.name
    %span.count= quiz_presenter.questions_count
