- present quiz do |quiz_presenter|

  .btn-group
    = edit_button "", quiz_questions_path(quiz), title: "Izmjeni"
    = delete_button "", delete_quiz_path(quiz), title: "Izbriši"

  = quiz_presenter.visibility_icon

  %span.name
    = quiz_presenter.name
    %span.count= quiz_presenter.questions_count
