- @title = "Uređivanje kvizova"

%p= back_button "Natrag", current_school

- if @quizzes.any?

  %table

    %thead
      %tr
        %th Naziv
        %th Predviđeni razredi
        %th Vidljivost
        %th

    %tbody
      - @quizzes.find_each do |quiz|
        - present quiz do |quiz_presenter|
          %tr
            %td= quiz_presenter.name
            %td= quiz_presenter.grades
            %td= quiz_presenter.visibility_icon
            %td
              .controls
                = quiz_presenter.edit_button "", title: "Izmjeni opcije"
                = quiz_presenter.manage_questions_button "", title: "Izmjeni pitanja"
                = quiz_presenter.delete_button "", title: "Izbriši"

- else

  %p Trenutno nemate nikakvih kvizova.

%p= add_button "Novi kviz", new_quiz_path
