- @title = "Uređivanje kvizova"

%p= link_to "Natrag", current_school

%table

  %thead
    %tr
      %th Naziv
      %th Razred
      %th

  %tbody
    - @quizzes.find_each do |quiz|
      %tr
        %td #{quiz.name}
        %td #{quiz.grade}.
        %td
          = edit_button "Uredi", quiz_path(quiz)
          |
          = delete_button "Izbriši", quiz_path(quiz)

%p= add_button "Novi kviz", new_quiz_path
