- @title = "Uređivanje kvizova"

%p= back_button "Natrag", current_school

%table

  %thead
    %tr
      %th Naziv
      %th Razred
      %th

  %tbody
    - @quizzes.find_each do |quiz|
      %tr
        %td #{quiz.name}
        %td #{quiz.grade}.
        %td
          .controls
            = edit_button "", quiz_path(quiz)
            = delete_button "", quiz_path(quiz)

%p= add_button "Novi kviz", new_quiz_path
