- @title = "Uređivanje kvizova"

%p= back_button "Natrag", current_school

%table

  %thead
    %tr
      %th Naziv
      %th Vidljiv?
      %th

  %tbody
    - @quizzes.find_each do |quiz|
      - present quiz do |quiz_presenter|
        %tr
          %td= quiz_presenter.name
          %td= quiz_presenter.activated?
          %td
            .controls
              = edit_button "", quiz_path(quiz)
              = delete_button "", quiz_path(quiz)

%p= add_button "Novi kviz", new_quiz_path
