- @title = "Uređivanje kvizova"

%p= link_to "Natrag", current_school

%ul
  = list_of @quizzes do |quiz|
    %dl
      %dt Naziv
      %dd #{quiz.name}
      %dt Razred
      %dd #{quiz.grade}.

    .controls
      = edit_button "Uredi", quiz_path(quiz)
      |
      = delete_button "Izbriši", quiz_path(quiz)

%p= add_button "Novi kviz", new_quiz_path
