- @title = @quiz.name

%p= back_button "Natrag", quizzes_path

%section
  %h2 Info
  = render "form"

%section
  %h2 Pitanja

  %ol#questions

    = list_of @quiz.questions do |question|

      - present question do |question_presenter|
        .controls
          = question_presenter.edit_button("", @quiz)
          = question_presenter.delete_button("", @quiz)

      = simple_form_for :game, url: nil do |f|
        = render partial: "questions/question", object: question, locals: {f: f}

  %p= add_button "Novo pitanje", new_quiz_question_path(@quiz)
