- @title = @quiz.name

%p= back_button "Natrag", quizzes_path

%section
  %h2 Info

  - present @quiz do |quiz_presenter|

    %dl#info
      %dt Naziv
      %dd= quiz_presenter.name
      %dt Razredi
      %dd= quiz_presenter.grades
      %dt Vidljiv
      %dd= quiz_presenter.visible?

    %p= quiz_presenter.edit_button "Izmjeni"

%section
  %h2 Pitanja

  %ol#questions

    = list_of @quiz.questions do |question|

      - present question do |question_presenter|
        .controls
          = question_presenter.edit_button("", @quiz)
          = question_presenter.delete_button("", @quiz)
        = question_presenter.content(@quiz)

  %p= add_button "Novo pitanje", new_quiz_question_path(@quiz)
