- @title = "Uređivanje kviza"

%p= back_button "Natrag", quizzes_path

%section
  %h1 Info

  - present @quiz do |quiz_presenter|
    %dl#info
      %dt Naziv
      %dd= quiz_presenter.name
      %dt Vidljiv?
      %dd= quiz_presenter.activated?
      %dt Razredi
      %dd= quiz_presenter.grades

  .controls
    = edit_button "Izmjeni", edit_quiz_path(@quiz)

%section
  %h1 Pitanja

  %ol#questions
    = list_of @quiz.questions do |question|
      #{link_to question, quiz_question_path(@quiz, question)}
      .controls
        #{edit_button "", edit_quiz_question_path(@quiz, question)}
        #{delete_button "", quiz_question_path(@quiz, question)}

  %p= add_button "Novo pitanje", new_quiz_question_path(@quiz)
