- title "Uređivanje profila"

= simple_form_for @student, url: profile_path do |f|

  = f.input :first_name
  = f.input :last_name
  = f.input :gender, collection: Student::GENDERS, as: :radio_buttons
  = f.input :year_of_birth, collection: (30.years.ago.year..Time.now.year).to_a.reverse, include_blank: false
  = f.input :grade
  = f.input :username

  = buttons(f) do |b|
    = b.cancel_button "Odustani", profile_path
    = b.submit_button "Spremi"
