= f.input :name
= f.input :username
= f.input :email
= f.input :level, collection: School::LEVELS, include_blank: false
= f.input :place
= f.input :region, collection: regions, include_blank: false
= f.input :key
