- title "Nova lozinka"

= simple_form_for resource, url: school_password_path do |f|

  %p Upišite vašu email adresu:
  = f.input :email, autofocus: true

  = buttons do
    = cancel_button "Odustani", new_school_session_path
    = submit_button "Zatraži novu lozinku"
