%h1 Prijava učenika

= simple_form_for @login, url: login_path do |f|

  = f.input :username, input_html: {autofocus: current_page?(action: "new")}
  = f.input :password
  = f.input :remember_me, as: :boolean, label: false, inline_label: "Zapamti me"

  = hidden_field_tag :type, params[:type]

  = buttons(f) do |b|
    = b.cancel_button "Odustani", root_path
    = b.submit_button "Prijava"
    %span Nemaš korisnički račun? #{link_to "Registriraj se", new_registration_path(type: "student")}.
