- @title = "Prijava"

= simple_form_for :user, url: login_path do |f|

  = f.error_notification

  = f.input :username, input_html: {value: params[:user].try(:[], :username)}
  = f.input :password

  = f.button :submit, "Prijava"
