- @title = "Prijava"

= back_button "Natrag", root_path

= simple_form_for :student, url: student_login_path do |f|

  = f.input :username, input_html: {value: params[:student].try(:[], :username)}
  = f.input :password
  = f.input :remember_me do
    = check_box_tag :remember_me, 1, params[:remember_me], id: "student_remember_me"

  .buttons
    = link_to "Odustani", root_path
    = f.button :submit, "Prijava"

%p Ako nemaš korisnički račun, možeš se registrirati #{link_to "ovdje", new_student_path}.
