- @title = "Prijava"

%h1 Prijava učenika

= simple_form_for @session, as: :user, url: login_path do |f|

  = f.input :username, input_html: {autofocus: current_page?(action: "new")}
  = f.input :password
  = f.input :remember_me, as: :boolean

  = hidden_field_tag :type, "student"

  = buttons(f) do |b|
    = b.cancel_button "Odustani", root_path
    = b.submit_button "Prijava"

%p Nemaš korisnički račun? Registriraj se #{link_to "ovdje", new_student_path}.
