- @title = "Prijava"

%h1 Prijava učenika

= simple_form_for @session, as: :user, url: login_path do |f|

  = f.input :username, input_html: {autofocus: current_page?(action: "new")}
  = f.input :password
  = f.input :remember_me, label: false do
    %label.checkbox
      = f.input :remember_me, as: :boolean, wrapper: false, bootstrap_wrapper: false, label: false
      Zapamti me

  = hidden_field_tag :type, "student"

  = buttons(f) do |b|
    = b.cancel_button "Odustani", root_path
    = b.submit_button "Prijava"
    %span Nemaš korisnički račun? #{link_to "Registriraj se", new_student_path}.
