- @title = "Prijava"

%h1 Prijava škole

= simple_form_for @session, as: :user, url: login_path do |f|

  = f.input :username, input_html: {autofocus: current_page?(action: "new")}
  = f.input :password, hint: "Zaboravili ste lozinku? #{link_to "Zatražite novu", new_password_path}."
  = f.input :remember_me, label: false do
    %label.checkbox
      = f.input :remember_me, as: :boolean, wrapper: false, bootstrap_wrapper: false, label: false
      Zapamti me

  = hidden_field_tag :type, "school"

  = buttons(f) do |b|
    = b.cancel_button "Odustani", root_path
    = b.submit_button "Prijava"
    %span Nemate korisnički račun? #{link_to "Registrirajte se", new_school_path}.
