- @title = "Prijava"

%p= back_button "Ups, ipak nisam škola", root_path

= simple_form_for :school, url: school_login_path do |f|

  = f.input :username, input_html: {value: params[:school].try(:[], :username)}
  = f.input :password
  = f.input :remember_me do
    = check_box_tag :remember_me, 1, params[:remember_me], id: "school_remember_me"

  .controls
    = link_to "Odustani", root_path
    = f.button :submit, "Prijava"

%p Ako nemate korisnički račun, možete se registrirati #{link_to "ovdje", new_school_path}.
