- @title = "Prijava"

= back_button "Početna", root_path

= simple_form_for :school, url: school_login_path do |f|

  = f.input :username, input_html: {value: params[:school].try(:[], :username), autofocus: current_page?(action: "new_school")}
  = f.input :password
  = f.input :remember_me do
    = check_box_tag :remember_me, 1, params[:remember_me], id: "school_remember_me"

  = buttons(f) do |b|
    = b.cancel_button "Odustani", root_path
    = b.submit_button "Prijava"

%p Nemate korisnički račun? Registrirajte se #{link_to "ovdje", new_school_path}.
