- played_quiz.played_questions.each_with_index do |(question, answer, player, status), idx|

  %hr

  .l-played.m-bottom{class: "l-question-#{question.category} l-#{status} l-player-#{number(idx % played_quiz.players.count + 1)}"}

    .player-color
      #{player.full_name.prepend_icon("user")} (#{player.username})

    %h2.question-title= question.content

    = image_tag question.image.url(:small), class: "img-thumbnail m-bottom-hl" if question.image?
    = render "questions/answer/#{question.category}", question: question, answer: answer
    = render "played_quizzes/feedback/#{status}", question: question
