- case params[:action]
- when "index"
  - if params[:quiz_id]
    = breadcrumbs link_to("Kvizovi", quizzes_path), link_to(@quiz.name, quiz_questions_path(@quiz)), "Odigrani"
  - elsif params[:student_id]
    = breadcrumbs link_to("Učenici", students_path), @student.full_name, "Odigrani kvizovi"
  - else
    = breadcrumbs "Odigrani kvizovi"
- when "show"
  - if params[:quiz_id]
    = breadcrumbs link_to("Kvizovi", quizzes_path), link_to(@quiz.name, quiz_questions_path(@quiz)), link_to("Odigrani", played_quizzes_path(params.slice(:quiz_id))), "#{@order}."
  - elsif params[:student_id]
    = breadcrumbs link_to("Učenici", students_path), @student.full_name, link_to("Odigrani kvizovi", played_quizzes_path(params.slice(:student_id))), "#{@order}."
  - else
    = breadcrumbs link_to("Odigrani kvizovi", played_quizzes_path), @played_quiz.name
