- played_quiz.results.each do |student, score, score_percentage, student_number, rank|

  %div{class: "l-player-#{number(student_number)}"}
    %p.player-color
      %b= student.full_name.prepend_icon("user") + ":"
      %span #{score} od #{played_quiz.total_score} to훾nih odgovora.
    .progress.player-color
      .bar{style: "width: #{score_percentage}%"}

= back_button "Natrag", played_quizzes_path(params.slice(:quiz_id, :student_id))

- if played_quiz.has_answers?

  - played_quiz.played_questions.each do |question, answer, student, status, idx|

    - if played_quiz.interrupted? and played_quiz.interrupted_on?(idx)
      .alert.alert-error
        = case played_quiz
        - when :single_player?.to_proc then "Ovdje je u훾enik odustao od kviza"
        - when :multi_player?.to_proc  then "Ovdje su u훾enici odustali od kviza"
    - else
      %hr

    .l-played.space-bottom{class: "l-question-#{question.category} l-#{status} l-player-#{number(idx % played_quiz.students.count + 1)} #{"faded" if status == "interrupted"}"}

      .player-color
        #{student.full_name.prepend_icon("user")} (#{student.username})

      %h2.question-title= question.content

      = image_tag question.image.url(:resized), class: "img-polaroid space-half-bottom", style: "width: 300px" if question.image?
      = render "questions/answer/#{question.category}", question: question, answer: answer
      = render "played_quizzes/feedback/#{status}", question: question

  = back_button "Natrag", played_quizzes_path(params.slice(:quiz_id, :student_id))

- else

  %p.no-items.muted
    (Odgovori na pitanja nisu zabilje탑eni kod ove igre)
