- played_quiz = exhibit(played_quiz)

%h1= played_quiz.quiz.name

- if played_quiz.has_answers?

  - played_quiz.played_questions.each do |question, answer, status, idx|
    - if played_quiz.interrupted? and played_quiz.interrupted_on?(idx)
      %p.text-warning.space-bottom
        = case played_quiz
        - when :single_player?.to_proc then "(Ovdje je u훾enik odustao od kviza)"
        - when :multi_player?.to_proc  then "(Ovdje su u훾enici odustali od kviza)"

    .l-played.space-bottom{class: "l-question-#{question.category} l-#{status}"}

      %h2.question-title= question.content
      = render "played_quizzes/answer/#{question.category}", {question: question, answer: answer}
      = render "played_quizzes/feedback/#{status}", {question: question}

- else

  %p.no-items
    Ispri훾avamo se, odgovori na pitanja nisu zabilje탑eni kod ove igre.
