%h1= played_quiz.quiz.name

- exhibit(played_quiz).played_questions.each do |question, answer, status, idx|
  - if played_quiz.interrupted? and played_quiz.interrupted_on?(idx)
    %p.text-error
      = case played_quiz
      - when :single_player?.to_proc then "(Ovdje je učenik odustao od kviza)"
      - when :multi_player?.to_proc  then "(Ovdje su učenici odustali od kviza)"

  .l-played{class: "l-question-#{question.category} l-#{status}"}

    %h2.question-title= question.content
    = render "played_quizzes/answer/#{question.category}", {question: question, answer: answer}
    = render "played_quizzes/feedback/#{status}", {question: question}
