- played_quiz.results.each_with_index do |(player, score), idx|

  %div{class: "l-player-#{number(idx + 1)}"}
    %p.player-color
      %b= player.full_name.prepend_icon("user") + ":"
      %span #{score} od #{played_quiz.total_score} točnih odgovora.
    .progress.player-color
      .bar{style: "width: #{percentage score, played_quiz.total_score}%"}
