- title "Autorizacija"

= simple_form_for :authorization, url: authorization_path do |f|

  = f.input :secret_key, as: :password, input_html: {name: "secret_key", autofocus: (params[:action] == "new")},
    hint: "Ako nemate ključ, možete ga #{link_to "zatražiti", contact_path}."

  = buttons do
    = cancel_button "Odustani", login_path
    = submit_button "Potvrdi"
