- title "Autorizacija"

= simple_form_for @authorization do |f|

  = f.input :secret_key, as: :password, input_html: {autofocus: (params[:action] == "new")},
    hint: "Ako nemate ključ, možete ga #{link_to "zatražiti", contact_path}."

  = buttons(f) do |b|
    = b.cancel_button "Odustani", login_path
    = b.submit_button "Potvrdi"
