- title "Nova lozinka"

= simple_form_for :password_reset, url: confirm_password_reset_path do |f|

  %p Upišite vašu email adresu:
  = f.input :email, input_html: {name: "email", value: params[:email]}

  = buttons do
    = cancel_button "Odustani", login_path
    = submit_button "Zatraži novu lozinku"
