- title "Registracija"

= simple_form_for @user, url: registration_path do |f|

  = f.input :first_name
  = f.input :last_name
  = f.input :gender, collection: Student::GENDERS, as: :radio_buttons
  = f.input :year_of_birth, collection: (30.years.ago.year..Time.now.year).to_a.reverse, prompt: "Izaberite..."
  = f.input :username
  = f.input :password
  = f.input :password_confirmation

  = f.input :grade, placeholder: "Npr. 2d", hint: "Ako tvoja škola ima samo jedan razred, onda napiši samo broj."
  = f.input :school_key, hint: "Kôd koji ti je tvoja škola dala".append_icon("arrow-up")

  = alert_message "Tvoje podatke koristit ćemo samo za ovu aplikaciju, nikada ih nećemo dijeliti trećoj strani.", "info", close: false

  = buttons(f) do |b|
    = b.cancel_button "Odustani", login_path
    = b.submit_button "Registriraj se"
