- if current_user.is_a?(School)

  %h1 Jeste li sigurni?

  %p Jeste li sigurni da želite izbrisati tog učenika?

  = simple_form_for @student, method: :delete do |f|

    = buttons(f) do |b|
      = b.cancel_button "Nisam", polymorphic_path([@scope, Question])
      = b.submit_button "Jesam"

- else

  - @title = "Brisanje korisničkog računa"

  %h1 Jesi li sigur#{current_user.male? ? "an" : "na"}?

  %p Ovime ćeš trajno izbrisati svoj korisnički račun. Ako si potpuno sigur#{current_user.male? ? "an" : "na"} da to želiš napraviti, upiši svoju lozinku:

  = simple_form_for @student, method: :delete do |f|

    = f.input :password

    = buttons(f) do |b|
      = b.cancel_button "Odustani", student_path(@student)
      = b.button_button "Potvrdi".prepend_icon("remove"), class: "btn-danger"
