- @title = "Brisanje korisničkog računa"

= back_button "Natrag", student_path(@student)

%h1 Brisanje korisničkog računa

%p Ovime ćeš trajno izbrisati svoj korisnički račun. Ako si potpuno siguran da to želiš napraviti, upiši svoju lozinku:

= simple_form_for @student, method: :delete do |f|

  = f.input :password

  = buttons(f) do |b|
    = b.cancel_button "Odustani", student_path(@student)
    = b.submit_button "Potvrdi"
