- @title = "Uređivanje učenika"

= back_button "Natrag", current_school

- if @students.any?

  %ol.students
    = list_of @students do |student|
      - present student do |student_presenter|
        .controls
          = delete_button "", student_path(student), title: "Izbriši"

        .name
          = student_presenter.full_name
          %span.username= student_presenter.username

- else

  %p Nijedan vaš učenik još nije registriran.
