- @title = "Novi uÄenik"

= simple_form_for @student, defaults: {required: false} do |f|

  = f.input :first_name
  = f.input :last_name
  = f.input :username
  = f.input :password

  = f.input :school do
    = password_field_tag :key
  = f.input :grade, as: :select, collection: (1..8), include_blank: false

  = f.button :submit, "Spremi"
  = link_to "Odustani", students_path
