- @title = "Novi učenik"

= simple_form_for @student, defaults: {required: false} do |f|

  = f.input :first_name
  = f.input :last_name
  = f.input :username
  = f.input :password
  = f.input :password_confirmation

  = f.simple_fields_for :school do |s|
    = s.input :key
    = s.input :level, collection: School::LEVELS.to_a, value_method: :first, label_method: :last, prompt: "Izaberite..."
  = f.input :grade, as: :select, collection: ordinalize((1..8)).zip((1..8)), include_blank: false

  .controls
    = link_to "Odustani", student_login_path
    = f.button :submit, "Spremi"
