= simple_form_for @student, url: change_password_student_path(@student), method: :put do |f|

  = f.input :password, label: "Nova lozinka"

  = buttons(f) do |b|
    = b.cancel_button "Odustani", students_path
    = b.submit_button "Spremi"
