- @title = @student.full_name

%dl
  %dt Ime
  %dd= @student.first_name
  %dt Prezime
  %dd= @student.last_name
  %dt Škola
  %dd= @student.school.name
  %dt Razred
  %dd= ordinalize(@student.grade)
  %dt Korisničko ime
  %dd= @student.username

%p= edit_button "Izmjeni profil", edit_student_path(@student)
%p= change_password_button "Izmjeni lozinku", edit_password_path
%p= delete_button "Izbriši korisnički račun", delete_student_path(@student)
