- @title = @student.full_name

%table.profile_info
  %tbody
    %tr
      %th Ime
      %td= @student.first_name
    %tr
      %th Prezime
      %td= @student.last_name
    %tr
      %th Škola
      %td= @student.school.name
    %tr
      %th Razred
      %td= @student.grade
    %tr
      %th Korisničko ime
      %td= @student.username

.btn-toolbar.edit_profile
  .btn-group
    = edit_button "Izmjeni profil", edit_student_path(@student)
    = change_password_button "Izmjeni lozinku", edit_password_path

%p= delete_profile_button "Izbriši korisnički račun", delete_student_path(@student)
