- @title = @student.full_name

- present @student do |student_presenter|

  %dl
    %dt Ime
    %dd= student_presenter.first_name
    %dt Prezime
    %dd= student_presenter.last_name
    %dt Å kola
    %dd= student_presenter.school_name
    %dt Razred
    %dd= student_presenter.grade
    %dt KorisniÄko ime
    %dd= student_presenter.username
    %dt Rang
    %dd= student_presenter.rank

  %p= student_presenter.edit_button "Izmjeni profil"
