= f.input :associations, wrapper_html: {class: "space-half-bottom"} do
  %table.table-condensed.space-half-bottom
    %tbody.association-wrapper
      - number_of_fields(question.associations).times do |n|
        %tr.association-option
          %td.association-field
            = f.input_field :associations, label: false, error: false,
              placeholder: "Asocijacija #{n + 1}a",
              value: question.associations.map(&:first)[n],
              name: "question[associations][]",
              class: "span5", style: "margin-bottom: 0"
          %td.association-icon
            = icon("chevron-right", class: "arrow subtle")
          %td.association-field
            = f.input_field :associations, label: false, error: false,
              placeholder: "Asocijacija #{n + 1}b",
              value: question.associations.map(&:second)[n],
              name: "question[associations][]",
              class: "span5", style: "margin-bottom: 0"
          %td.association-remove
