- @title = "Admin"

%h2
  Škole
  %span.count= @schools.count

%table.school_list

  %colgroup
    %col.full_name
    %col.student_count
    %col.quiz_count
    %col.last_activity

  %thead
    %tr
      %th Naziv škole
      %th.short Broj učenika
      %th.short Broj kvizova
      %th Zadnja aktivnost

  %tbody
    - @schools.each do |school|
      %tr
        %td= link_to school.name, admin_school_path(school)
        %td.short= school.students.count
        %td.short= school.quizzes.activated.count
        %td= activity(school.quizzes.maximum(:updated_at))

%h2
  Učenici
  %span.count= @students.count

%table.student_list

  %colgroup
    %col.full_name
    %col.username
    %col.school_name
    %col.quiz_count
    %col.last_activity

  %thead
    %tr
      %th Ime i prezime
      %th.short Korisničko ime
      %th Škola
      %th.short Broj odigranih kvizova
      %th Zadnja aktivnost

  %tbody
    - @students.each do |student|
      %tr
        %td= student.full_name
        %td.short= student.username
        %td= student.school.name
        %td.short= student.games.count
        %td= activity(student.games.maximum(:created_at))
