- @title = "Admin"

= back_button "Početna", root_path

%h2 Škole (#{@schools.length})

%table

  %thead
    %tr
      %th Naziv škole
      %th Broj učenika
      %th Broj kvizova
      %th Zadnja aktivnost

  %tbody
    - @schools.each do |school|
      %tr
        %td= link_to school.name, admin_school_path(school)
        %td= school.students.count
        %td= school.quizzes.activated.count
        %td= activity(school.quizzes.maximum(:updated_at))

%h2 Učenici (#{@students.length})

%table

  %thead
    %tr
      %th Ime i prezime
      %th Korisničko ime
      %th Škola
      %th Broj odigranih kvizova
      %th Zadnja aktivnost

  %tbody
    - @students.each do |student|
      %tr
        %td= student.full_name
        %td= student.username
        %td= student.school.name
        %td= student.games.count
        %td= activity(student.games.maximum(:created_at))
