- @title = "Admin"

= back_button "Početna", root_path

%h2 Škole (#{@schools.count})

%table

  %thead
    %tr
      %th Naziv škole
      %th.short Broj učenika
      %th.short Broj kvizova
      %th Zadnja aktivnost

  %tbody
    - @schools.each do |school|
      %tr
        %td= link_to school.name, admin_school_path(school)
        %td.short= school.students.count
        %td.short= school.quizzes.activated.count
        %td= activity(school.quizzes.maximum(:updated_at))

%h2 Učenici (#{@students.count})

%table

  %thead
    %tr
      %th Ime i prezime
      %th.short Korisničko ime
      %th Škola
      %th.short Broj odigranih kvizova
      %th Zadnja aktivnost

  %tbody
    - @students.each do |student|
      %tr
        %td= student.full_name
        %td.short= student.username
        %td= student.school.name
        %td.short= student.games.count
        %td= activity(student.games.maximum(:created_at))
