- @title = "Kvizovi"

= back_button "Škole", admin_schools_path

%h1 Kvizovi

%table
  - @quizzes.each_with_index do |quiz, index|
    %tr
      %td= "#{index + 1}."
      %td= quiz.name
      %td= enumerate("questions", quiz.questions.count)
