- @title = @school.name

= back_button "Admin", admin_path

%h1= @school.name

%h2 Učenici (#{@school.students.count})

%table

  %thead
    %tr
      %th Ime i prezime
      %th.short Korisničko ime
      %th.short Broj odigranih kvizova
      %th Zadnja aktivnost

  %tbody
    - @school.students.each do |student|
      %tr
        %td= student.full_name
        %td.short= student.username
        %td.short= student.games.count
        %td= activity(student.games.maximum(:created_at))

%h2 Kvizovi (#{@school.quizzes.count})

%table

  %thead
    %tr
      %th Naziv kviza
      %th.short Broj pitanja
      %th Zadnja promjena

  %tbody
    - @school.quizzes.each do |quiz|
      %tr
        %td= quiz.name
        %td.short= quiz.questions.count
        %td= activity(quiz.updated_at)
