- title "Anketa"

%h1 Anketa

%p Ako imate mrvicu vremena, puno biste nam pomogli ako biste ispunili ovu anketu.

= survey_form @survey, defaults: {required: true} do |f|

  = f.choice_question "Spol",
    choices: ["Muško", "Žensko"]

  = f.choice_question "Vrsta škole",
    choices: ["Osnovna škola", "Srednja škola"]

  = f.text_question "Naziv škole"

  = f.text_question "Zanimanje"

  = f.text_question "Koliko dugo radite u školi?"

  = f.text_question "Koje predmete predajete?", input: :text_area

  = f.choice_question "Koristite li računalo u nastavi?",
    choices: ["Da", "Ne"]

  = f.choice_question "Ako da, koliko često?", required: false,
    choices: ["Svaki sat", "Jednom tjedno", "Jednom mjesečno", "Jednom u polugodištu", "Jednom u cijeloj godini"]

  = f.choice_question "Koristite li računalo za pripremu nastave?",
    choices: ["Da", "Ne"]

  = f.choice_question "Ako da, koliko često?", required: false,
    choices: ["Sve pripreme radim na računalu", "Tjedne pripreme", "Mjesečne pripreme", "Plugodišnje pripreme", "Godišnje pripreme", "Samo za unos ocjena na kraju godine"]

  = f.text_question "Koliko ste dugo koristili aplikaciju Lektire?"

  = f.choice_question "Jeste li imali poteškoća prilikom korištenja aplikacije?",
    choices: ["Da", "Ne"]

  = f.text_question "Ako da, koje ste poteškoće imali?", required: false, input: :text_area

  = f.choice_question "Biste li aplikaciju koristili i dalje u svom radu?",
    choices: ["Da", "Ne"]

  = f.choice_question "Biste li aplikaciju preporučili svojim kolegama iz istog nastavnog predmeta?",
    choices: ["Da", "Ne"]

  = f.choice_question "Biste li aplikaciju preporučili kolegama iz drugih nastavnih predmeta?", multiple: true, hint: "(Moguće je označiti više odgovora.)",
    choices: ["Ne, ne bih je nikome preporučio/la", "Samo bih je preporučio/la kolegama iz hrvatskog jezika", "Preporučio/la bih je svim jezičnim predmetnim nastavnicima", "Preporučio/la bih ga svim nastavnicima prirodnih znanosti", "Preporučio/la bih ga svim nastavnicima društvenih znanosti", "Preporučio/la bih ga svim nastavnicima tehničkih znanosti"]

  = f.choice_question "Kako biste ocijenili znanje iz lektire one djece koja su koristila aplikaciju (nakon korištenja)?", hint: "Označite odgovor koji je za vas najbliži točnom odgovoru.",
    choices: ["Nisam primjetio/la da su napredovali zbog korištenja aplikacije", "Za nijansu su bili bolji nego dok nisu koristili aplikaciju", "Značajno im se poboljšalo poznavanje gradiva iz lektire", "Uz bolje poznavanje gradiva, primjetio/la sam i veću zainteresiranost djece za lektire i njihovo bolje sudjelovanje u nastavi lektire"]

  = f.choice_question "Mislite li da je aplikacija:",
    choices: ["Više odmogla nego pomogla učenicima", "Nije doprinijela boljem poznavanju gradiva", "Djelomično bila od pomoći", "Bila od iznimne pomoći kod stvaranja većeg interesa za lektire i poznavanje gradiva"]

  = f.choice_question "U usporedbi s djecom koja nisu koristila aplikaciju Lektire",
    choices: ["djeca koja nisu koristila aplikaciju bolje su znala gradivo od djece koja JESU koristila aplikaciju.", "svi su pokazali podjednako znanje.", "djeca koja su koristila aplikaciju bolje su znala od djece koja NISU koristila aplikaciju."]

  = f.range_question "Molimo vas ocijenite slijedeće aspekte aplikacije:",
    aspects: ["Obaviještenost o promijenama", "Snalaženje u sučelju", "Izgled aplikacije"],
    choices: ["Ne sviđa mi se", "Nije baš nešto", "U redu je", "Sviđa mi se", "Jako mi se sviđa"]

  = f.text_question "Što vam se osobito svidjelo u aplikaciji?", required: false, input: :text_area

  = f.text_question "Koju mogućnost biste htjeli da aplikacija u budućnosti ima, a trenutno ju nema?", required: false, input: :text_area

  = buttons do
    = cancel_button "Odustani", root_path
    = submit_button "Pošalji"
