- title "Registracija"

= simple_form_for @user, url: registrations_path do |f|

  = render "#{@user.type}_fields", {user: @user, f: f}

  = hidden_field_tag :type, params[:type]

  = buttons(f) do |b|
    = b.cancel_button "Odustani", login_path
    = b.submit_button "Registriraj se"
