%h2.question-title
  %span.question-number.player-color
    = @quiz_play.current_question[:number]
  = smarty_pants question.content

= render "quiz/question/#{question.category}", {f: f, question: question}

- if question.hint?
  %p.question-hint Uputa: #{question.hint}
