- title "Novi kviz"

%h1 Zdravo :)

= simple_form_for @quiz_specification, url: start_quiz_path do |f|

  %section.quizzes
    - if @quizzes.any?
      %p Odaberi kviz:
      = f.input :quiz_id, collection: @quizzes, as: :radio_buttons, label: false
    - else
      %p Vaša škola još nije napravila kvizove.

  %section.players
    %p Igraš li sam ili još s nekim?
    = f.input :students_count, collection: [["Samo ja", 1], ["Još netko", 2]], as: :radio_buttons, label: false

  %section.login
    %p Daj drugom igraču da se prijavi:
    = f.error(:students_credentials) if f.error(:students_credentials)
    = f.simple_fields_for :students_credentials, index: nil do |p|
      = p.input :username, input_html: {value: (params[:quiz_specification][:students_credentials].first[:username] if params[:action] == "prepare")}
      = p.input :password

  = buttons do
    = submit_button "Započni kviz!"
