- title "#{@quiz.name} · #{quiz_play.current_question[:number]}. pitanje"

%div{class: "l-player-#{number(quiz_play.current_student[:number])}"}
  .timer
    = icon("stopwatch")
    %span.timer-time

  %h1.align-middle
    = @quiz.name

  .question-username.align-middle.player-color
    = @student.full_name.prepend_icon("user")

  .progress.progress-small.progress-primary
    .bar{style: "width: #{quiz_progress_percentage}%"}

  = simple_form_for :play, url: save_answer_quiz_path, method: :put, remote: true, defaults: {input_html: {name: "answer"}}, html: {class: "l-play l-question-#{@question.category}"} do |f|

    = render "question", question: QuestionShuffling.new(@question), f: f

    = buttons do
      = cancel_button "Prekini", finish_quiz_path, method: :delete, data: {confirm: "Jeste li sigurni da želite prekinuti igranje kviza?"}
      = submit_button "Odgovori"
