- title "#{@quiz.name} · Kraj"

%h1 Rezultati

.progress.progress-small.progress-primary
  .bar{style: "width: 100%"}

- played_quiz.results.each do |student, score, score_percentage, student_number, rank|
  %div{class: "player-#{number(student_number)}"}
    %p
      %b= student.full_name.prepend_icon("user") + ":"
      %span Točno si odgovori#{student.male? ? "o" : "la"} na #{score} od #{played_quiz.total_score} pitanja. Ti si <strong>#{rank}</strong>! :)
    .progress
      .bar{style: "width: #{score_percentage}%"}

= buttons do
  = primary_button "Završi kviz", choose_quiz_path, class: "btn btn-primary fade-in"

- played_quiz.played_questions.each do |question, answer, student, status, idx|

  .l-played.space-bottom{class: "l-question-#{question.category} l-#{status} l-player-#{number(idx % played_quiz.students.count + 1)}"}

    %h2.question-title= question.content
    = render "questions/answer/#{question.category}", {question: question, answer: answer}
    = render "played_quizzes/feedback/#{status}", {question: question}
