- title "#{game.quiz.name} · Kraj"

%h1 Rezultati

= render "progress_bar"

= render "played_quizzes/score", played_quiz: @played_quiz
= primary_button "Završi", choose_quiz_path
= render "played_quizzes/answers", played_quiz: @played_quiz
= primary_button "Završi", choose_quiz_path
