- @title = "Prijava"

= simple_form_for :student, url: login_path do |f|

  = f.input :username, input_html: {value: params[:student].try(:[], :username)}
  = f.input :password

  = f.button :submit, "Prijava učenika"

= simple_form_for :school, url: login_path do |f|

  = f.input :username, input_html: {value: params[:school].try(:[], :username)}
  = f.input :password

  = f.button :submit, "Prijava škole"

