- title "Prijava"

%h1 Prijava škole

= simple_form_for resource, url: school_session_path do |f|

  = f.input :username, input_html: {autofocus: params[:action] == "new"}
  = f.input :password,
    hint: "Zaboravili ste lozinku? #{link_to "Zatražite novu", new_school_password_path}."
  = f.hidden_field :remember_me, value: true

  = buttons do
    = cancel_button "Odustani", root_url
    = submit_button "Prijava"
    %span Nemate korisnički račun? #{link_to "Registrirajte se", new_school_registration_path}.
