- @title = "#{@quiz.name} · #{@question_number}. pitanje"

%p Trenutno na redu: #{@player.username}.

%p #{@question_number}/#{@questions_count}

= simple_form_for :game, url: game_path, method: :put do |f|

  %p= @question.content

  - # This is so that params[:game] is always present,
  - # even if the user doesn't choose an answer
  = f.hidden_field :bla

  - if @question.boolean?

    = f.collection_radio_buttons :answer, [[true, "Točno"], [false, "Netočno"]], :first, :last

  - elsif @question.choice?

    = f.input :answer, collection: @question.provided_answers, as: :radio_buttons

  - elsif @question.association?

    .column
      %ol
        = list_of @question.provided_answers.keys do |answer|
          = f.input :answer, input_html: {name: "game[answer][]", value: answer}, label: false
    .column
      %ol
        = list_of @question.provided_answers.values do |answer|
          = f.input :answer, input_html: {name: "game[answer][]"}, label: false
    %div
      %ol
        = list_of @question.provided_answers.values do |answer|
          = answer

  - elsif @question.photo?

    = image_tag @question.attachment.url(:medium)
    = f.input :answer

  - elsif @question.text?

    = f.input :answer

  .controls
    = link_to "Prekini", game_path, method: :delete
    = f.button :submit, "Odgovori!"
