- @title = "#{@quiz.name} · #{@question_number}. pitanje"

%h1= @quiz.name

.username{class: number(@player_number)}= @player.username.prepend_icon("user")

#progress
  - progress.number_of_answered_questions.times do
    %div.done{style: "width: #{progress.chunk_size}%"}
  - progress.number_of_questions_to_be_answered.times do
    %div{style: "width: #{progress.chunk_size}%"}

= simple_form_for :game, url: game_path, method: :put, html: {class: "show #{@question.category}"} do |f|

  -# So that params[:game][:answer] isn't blank
  = f.hidden_field :answer unless @question.association?

  = render partial: "questions/question", object: @question, locals: {f: f}

  = buttons(f) do |b|
    = b.cancel_button "Prekini", delete_game_path
    = b.button_button "Odgovori".append_icon("arrow-right")
