- title "#{@quiz.name} · #{@question_number}. pitanje"

.timer
  = icon("stopwatch")
  %span.timer-time

%h1.align-middle
  = @quiz.name

.question-username.align-middle{class: "player-#{number(@player_number)}"}
  = @player.username.prepend_icon("user")

.progress
  .bar{style: "width: #{game_progress_percentage}%"}

= simple_form_for :game, url: game_path, method: :put, defaults: {input_html: {name: "answer"}}, html: {class: "l-question-display-#{@question.category}"} do |f|

  = render "question", {question: @question, f: f}

  = buttons do
    = cancel_button "Prekini", delete_game_path(interrupted: "true")
    = submit_button "Odgovori"
