- @title = "#{@quiz.name} · #{@question_number}. pitanje"

%h1= @quiz.name

%p #{@player.username} | #{@question_number}/#{@questions_count}

= simple_form_for :game, url: game_path, method: :put, html: {class: Question::CATEGORIES[@question.category]} do |f|

  %h2.question= @question.content

  - # This is so that params[:game] is always present,
  - # even if the user doesn't choose an answer
  = f.hidden_field :bla

  - if @question.boolean?

    = f.collection_radio_buttons :answer, [[true, "Točno"], [false, "Netočno"]], :first, :last

  - elsif @question.choice?

    = f.input :answer, collection: @question.provided_answers, as: :radio_buttons

  - elsif @question.association?

    %ol.column.static
      = list_of @question.provided_answers.keys do |answer|
        = f.input(:answer, input_html: {name: "game[answer][]", value: answer}, label: false).prepend_icon("arrow-right")

    %ol.column.interactive
      = list_of @question.provided_answers.values do |answer|
        = f.input :answer, input_html: {name: "game[answer][]", value: answer}, label: false

  - elsif @question.photo?

    %p= image_tag @question.attachment.url(:medium)
    = f.input :answer

  - elsif @question.text?

    = f.input :answer

  .controls
    = link_to "Prekini", game_path, method: :delete
    = f.button :submit, "Odgovori!"
