- @title = "#{@quiz.name} · #{@question_number}. pitanje"

%h1= @quiz.name

.username{class: number(@player_number)}= @player.username.prepend_icon("user")

#progress
  - @questions_count.times do |i|
    - if i < @question_number - 1
      %div.done{style: "width: #{100/@questions_count.to_f}%"}
    - else
      %div{style: "width: #{100/@questions_count.to_f}%"}

= simple_form_for :game, url: game_path, method: :put, html: {class: "show #{@question.category}"} do |f|

  = render partial: "questions/question", object: @question, locals: {f: f}

  = buttons(f) do |b|
    = b.cancel_button "Prekini", game_path, method: :delete, confirm: "Jeste li sigurni da želite prekinuti igru?"
    = b.button_button "Odgovori".append_icon("arrow-right")
