- @title = @correct_answer ? "Točan odgovor" : "Netočan odgovor"

- if @correct_answer
  %h1.correct= "Točan odgovor!".prepend_icon("checkmark")
- else
  %h1.wrong= "Netočan odgovor".prepend_icon("cancel")

= form_tag game_path, method: :delete do

  = buttons do |b|
    - unless @game_finished
      = b.action_button "Sljedeće pitanje".append_icon("arrow-right"), edit_game_path
    - else
      = b.submit_button "Rezultati".append_icon("arrow-right")
