- @title = @correct_answer ? "Točan odgovor" : "Netočan odgovor"

- if @correct_answer
  %h1.correct
    = icon("checkmark")
    %span Točan odgovor, bravo!
- else
  %h1.wrong
    = icon("cancel-2")
    %span= ["Ne baš…", "Pogrešno", "Nažalost, ne…"].sample

  = render partial: "questions/#{@question.category}_question_answer", object: @question, as: :question

= form_tag game_path, method: :delete do

  = buttons do |b|
    - unless @game_over
      = b.action_button "Sljedeće pitanje".append_icon("arrow-right"), edit_game_path
    - else
      = b.submit_button "Rezultati".append_icon("arrow-right")
