- @title = "Nova igra"

%h1 Dobrodošao!

= simple_form_for @game, url: game_path do |f|

  = f.error :base

  %section.quizzes
    %p Odaberi kviz:
    = f.collection_radio_buttons :quiz_id, @quizzes, :id, :name

  %section.players
    %p U koliko igrača želiš igrati?
    = f.collection_radio_buttons :players_count, [[1, "1 igrač"], [2, "2 igrača"]], :first, :last, checked: @game.players_count

  %section.login
    %p Daj drugom igraču da se prijavi:
    = f.simple_fields_for :players_credentials, index: nil do |p|
      = p.input :username, input_html: {value: @game.players.last.try(:username)}
      = p.input :password

  .controls
    = f.button :button, "Započni#{content_tag(:span, "", class: "plural")} kviz #{content_tag(:span, "", class: "name")}!".html_safe
