- @title = "Nova igra"

%h1 Zdravo :)

.info
  :markdown
    Ovo je aplikacija za ispitivanje znanja iz lektire. Funkcionira vrlo jednostavno -- mi postavimo pitanje, ti odgovoriš najbolje što znaš :)

- if @quizzes.any?

  = simple_form_for @game, as: :game, url: game_path do |f|

    %section.quizzes
      %p Odaberi kviz:
      = f.collection_radio_buttons :quiz_id, @quizzes, :id, :name

    %section.players
      %p U koliko igrača želiš igrati?
      = f.collection_radio_buttons :players_count, [[1, "1 igrač"], [2, "2 igrača"]], :first, :last, checked: @game.players_count

    %section.login
      %p Daj drugom igraču da se prijavi:
      = f.simple_fields_for :players_credentials, index: nil do |p|
        = p.input :username, input_html: {value: (params[:game][:players_credentials].first[:username] rescue nil)}
        = p.input :password
      %p= f.error :base

    = buttons(f) do |b|
      = b.button_button raw("Započni kviz#{content_tag :span, "", class: "name"}!")

- else

  %p Nema još kvizova za igrati.
