- @title = "Nova igra"

%h1 Dobrodošao!

= simple_form_for @game, url: game_path do |f|

  = f.error_notification
  = f.error :base

  %section.quizzes
    %h2 Odaberi kviz:
    = f.input :quiz_id, collection: @quizzes, as: :radio_buttons, label: false

  %section.players
    %h2 U koliko igrača želiš igrati?
    = f.collection_radio_buttons :players_count, [[1, "1 igrač"], [2, "2 igrača"]], :first, :last, checked: (@game.players_count || 1), collection_wrapper_tag: :div

  %section.login
    %p Daj drugom igraču da se prijavi:
    = f.simple_fields_for :players_credentials, index: nil do |p|
      = p.input :username, input_html: {value: (params[:submitted_game][:players_credentials].first[:username] rescue nil)}
      = p.input :password

  .controls
    = f.button :submit, "Započni kviz!"
