- @title = "Nova igra"

%h1 Dobrodošli!

%p Ovo je kviz znanja iz lektire! Pravila su jednostavna: postavit ćemo vam pitanja iz gradiva kojeg ste učili i vi na njih trebate odgovoriti najbolje što možete.

= simple_form_for @game, url: game_path do |f|

  = f.error_notification
  = f.error :base

  .quizzes
    %p Odaberi kviz:
    = f.input :quiz_id, collection: @quizzes, as: :radio_buttons, label: false

  .players
    %p U koliko igrača želiš igrati?
    = f.collection_radio_buttons :players_count, [[1, "1 igrač"], [2, "2 igrača"]], :first, :last, checked: 1, collection_wrapper_tag: :div

  .login
    %p Daj drugom igraču da se prijavi:
    = f.simple_fields_for :players_credentials, index: nil do |p|
      = p.input :username, input_html: {value: (params[:submitted_game][:players_credentials].first[:username] rescue nil)}
      = p.input :password

  .controls
    = f.button :submit, "Započni kviz!"
