- @title = "#{@game.quiz.name} · Kraj"

%h1 Rezultati

#progress
  - @questions_count.times do |i|
    %div{style: "width: #{100/@questions_count.to_f}%", data: {done: true}}

%ol#score
  - @game.players.zip(@game.scores).each_with_index do |(player, score), player_number|
    %li{class: number(player_number + 1)}
      .username= player.username.prepend_icon("user")
      .bar{style: "width: #{score/@game.total_points.to_f * 100}%"}

.controls
  = link_to "Završi", new_game_path
