- @title = "#{@game.quiz.name} · Kraj"

%h1 Rezultati

#progress.done
  - @questions_count.times do |i|
    %div.done{style: "width: #{100/@questions_count.to_f}%"}

- present @game do |game_presenter|

  %ol.score
    - game_presenter.results.each do |player, score, player_number|
      %li{class: number(player_number)}
        %dl
          %dt.username= player.username.prepend_icon("user")
          %dd.rank Točno si odgovorio na #{score} od #{game_presenter.total_score} pitanja.
        .bar
          .label #{percentage(score, game_presenter.total_score)}%
          - if score != 0
            .fill{style: "width: #{percentage(score, game_presenter.total_score)}%"}

.buttons
  = link_to "Završi", new_game_path
