- @title = "#{@game.quiz.name} · Kraj"

%h1 Rezultati

#players
  - @game.players.zip(@game.scores).each do |player, score|
    .player
      %p.username= player.username.prepend_icon("user")
      %p.score #{score}/#{@game.total_points}

.controls
  = link_to "Završi", new_game_path
