- @title = "Uređivanje knjiga"

%p= back_button "Natrag", current_school

%table

  %thead
    %tr
      %th Naslov
      %th Autor
      %th Književno razdoblje
      %th

  %tbody
    - @books.find_each do |book|
      %tr
        %td #{book.title}
        %td #{book.author}
        %td #{book.era}
        %td
          .controls
            = edit_button "", edit_book_path(book)
            = delete_button "", book_path(book) if book.school == current_school

%p= add_button "Nova knjiga", new_book_path
