- title "Admin"

%h2
  Škole
  %span.count= @schools.count

%table.table.table-striped
  %colgroup
    %col.col-25
    %col.col-25
    %col.col-25
    %col

  %thead
    %tr
      %th Naziv škole
      %th.text-center Broj učenika
      %th.text-center Broj kvizova
      %th Zadnja aktivnost

  %tbody
    - @schools.each do |school|
      = content_tag_for :tr, school do
        %td= link_to school.name, admin_school_path(school)
        %td.text-center= school.students.count
        %td.text-center= school.quizzes.activated.count
        %td= activity(school.last_activity)

%h2
  Učenici
  %span.count= @students.count

%table.table.table-striped
  %colgroup
    %col.col-20
    %col.col-20
    %col.col-20
    %col.col-20
    %col

  %thead
    %tr
      %th Ime i prezime
      %th.text-center Korisničko ime
      %th Škola
      %th.text-center Broj odigranih kvizova
      %th Zadnja aktivnost

  %tbody
    - @students.each do |student|
      = content_tag_for :tr, student do
        %td= student.full_name
        %td.text-center= student.username
        %td= student.school.name
        %td.text-center= student.played_quizzes.count
        %td= activity(student.last_activity)
