- @title = "Izmjena lozinke"

= simple_form_for @password, url: password_path, method: :put do |f|

  = f.input :old_password
  = f.input :new_password
  = f.input :new_password_confirmation

  .buttons
    = link_to "Odustani", current_user
    = f.button :submit, "Spremi"
