- @title = "Izmjena lozinke"

= simple_form_for @user, url: password_path, method: :put do |f|

  = f.error :base

  = label_tag :old_password, "Stara lozinka"
  = password_field_tag :old_password

  = f.input :password, label: "Nova lozinka"
  = f.input :password_confirmation, label: "Potvrda nove lozinke"

  .controls
    = link_to "Odustani", current_user
    = f.button :submit, "Spremi"
