- @title = "Izmjena lozinke"

= simple_form_for @password, url: password_path, method: :put do |f|

  = f.input :old_password, input_html: {autofocus: current_page?(action: "edit")}
  = f.input :new_password
  = f.input :new_password_confirmation

  = buttons(f) do |b|
    = b.cancel_button "Odustani", current_user
    = b.submit_button "Spremi"
