- title "Izmjena lozinke"

= simple_form_for @password, url: password_path, method: :put do |f|

  = f.input :old, input_html: {autofocus: current_page?(action: "edit")}
  = f.input :new
  = f.input :new_confirmation

  = buttons(f) do |b|
    = b.cancel_button "Odustani", profile_path
    = b.submit_button "Spremi"
