= form_tag password_path, method: :post do

  %p Upišite vašu email adresu:
  = text_field_tag :email, params[:email]

  = buttons do |b|
    = b.cancel_button "Odustani", school_login_path
    = b.submit_button "Zatraži novu lozinku"
