- title "Profil"

.profile

  %table.table.table-striped
    %colgroup
      %col.50
      %col

    %tbody
      %tr
        %th Ime škole
        %td= current_user.name
      %tr
        %th Korisničko ime
        %td= current_user.username
      %tr
        %th Email
        %td= current_user.email
      %tr
        %th Tip škole
        %td= current_user.level
      %tr
        %th Mjesto
        %td= current_user.place
      %tr
        %th Županija
        %td= current_user.region
      %tr
        %th Tajni ključ
        %td= current_user.key

  = buttons do
    .btn-group
      = edit_button "Izmijeni profil", edit_account_profile_path
      = button "Izmijeni lozinku".prepend_icon("lock"), edit_school_registration_path

  %p= delete_button "Izbriši korisnički račun", school_registration_path, confirm: "Jeste li apsolutno sigurni da želite izbrisati vaš korisnički račun?"
