- @title = "Brisanje korisničkog računa"

%h1 Jeste li sigurni?

%p Ovime ćete trajno izbrisati svoj korisnički račun. Ako ste potpuno sigurni da to želite napraviti, upišite svoju lozinku:

= simple_form_for @school, method: :delete do |f|

  = f.input :password

  = buttons(f) do |b|
    = b.cancel_button "Odustani", school_path(@school)
    = b.button_button "Potvrdi".prepend_icon("remove"), class: "btn-danger"
