- @title = "Uređivanje profila"

= simple_form_for @school do |f|

  = f.input :name

  .buttons
    = link_to "Odustani", @school
    = f.button :submit, "Spremi"

%p= change_password_button "Izmjeni lozinku", edit_password_path
