- @title = "Nova škola"

= simple_form_for @school do |f|

  = f.input :name
  = f.input :level, collection: ["Osnovna", "Srednja"], prompt: "Izaberite..."
  = f.input :place
  = f.input :region, collection: Location.regions, prompt: "Izaberite..."
  = f.input :username
  = f.input :password
  = f.input :password_confirmation
  = f.input :key, as: :password, hint: "Ovo će vaši učenici morati napisati pri registraciji".append_icon("arrow-up")

  = buttons(f) do |b|
    = b.cancel_button "Odustani", school_login_path
    = b.submit_button "Registriraj se"
