= simple_form_for @school do |f|

  = f.input :username
  = f.input :full_name
  = f.input :password
  = f.input :level, as: :radio_buttons, collection: School::LEVELS.to_a, value_method: :first, label_method: :last

  = f.button :submit, "Spremi"
