- @title = @school.name

%table.profile_info
  %tbody
    %tr
      %th Ime škole
      %td= @school.name
    %tr
      %th Tip škole
      %td= @school.level
    %tr
      %th Korisničko ime
      %td= @school.username
    %tr
      %th Tajni ključ
      %td= @school.key

.btn-toolbar.edit_profile
  .btn-group
    = edit_button "Izmjeni profil", edit_school_path(@school)
    = change_password_button "Izmjeni lozinku", edit_password_path

%p= delete_profile_button "Izbriši korisnički račun", delete_school_path(@school)
