- @title = @school.name

%dl
  %dt Ime škole
  %dd #{@school.name}

%p= edit_button "Izmjeni profil", edit_school_path(@school)
%p= link_to "Izmjeni lozinku", edit_password_path

%ul#edit
  %li= link_to "Kvizovi".prepend_icon("sitemap"), quizzes_path
  %li= link_to "Učenici".prepend_icon("user"), students_path
