- @title = @school.name

- present @school do |school_presenter|

  %dl
    %dt Ime škole
    %dd= school_presenter.name
    %dt Tip škole
    %dd= school_presenter.level
    %dt Korisničko ime
    %dd= school_presenter.username
    %dt Tajni ključ
    %dd= school_presenter.key
    %dt Broj kvizova
    %dd= school_presenter.quizzes.count

  %p= school_presenter.edit_button "Izmjeni profil"
