- @title = @school.name

= back_button "Kvizovi", root_path

%dl
  %dt Ime škole
  %dd= @school.name
  %dt Tip škole
  %dd= @school.level
  %dt Korisničko ime
  %dd= @school.username
  %dt Tajni ključ
  %dd= @school.key

%p= edit_button "Izmjeni profil", edit_school_path(@school)
%p= change_password_button "Izmjeni lozinku", edit_password_path
%p= delete_button "Izbriši korisnički račun", delete_school_path(@school), confirm: nil, method: nil
%p= link_to "Učenici".prepend_icon("user"), students_path
