= hidden_field_tag :category, (params[:category] || @question.category)

= f.input :content, input_html: {autofocus: current_page?(action: "new"), class: "input-block-level"}

= render partial: "#{@question.category}_fields", object: @question, as: "#{@question.category}_question", locals: {f: f}

= f.input :hint, placeholder: %(Npr. "Odgovor piši u nominativu."), hint: "Ovo će se prikazati kao pomoć pri odgovaranju na pitanje."

= f.input :tag_list, hint: "Tagove odvajajte zarezom."
