- action = params[:action]
- action = "edit" if action == "copy"
= simple_form_for @question, url: polymorphic_path([@scope, @question.becomes(Question)]), as: :question, html: {class: "#{action} question_#{@question.category}"} do |f|

  = render partial: "fields", locals: {f: f}

  = buttons(f) do |b|
    = b.cancel_button "Odustani", polymorphic_path([@scope, Question])
    = b.submit_button
