- title @quiz.name

.dropdown.new_question
  = add_button "Novo pitanje".append_icon("caret-down"), "#", class: "btn btn-primary dropdown-toggle", data: {toggle: "dropdown"}
  %ul.dropdown-menu
    = list_of question_categories do |category_name, category|
      = link_to category[:label].prepend_icon(category[:icon_name]), new_quiz_question_path(@quiz, category: category_name)

= render "tag_filter"

- if @questions.any?

  %ol.question_list
    - @questions.each do |question|
      %li{class: (flash[:highlight] == question.id ? "highlight" : nil)}
        = render partial: "questions/question_short"

- else

  %p.no_items= params[:query] ? "Nema pitanja s tim tagovima." : "Ovaj kviz trenutno nema pitanja."
