- title "Profil"

%table.profile_info.table.table-striped
  %colgroup
    %col.field
    %col.value

  %tbody
    %tr
      %th Ime i prezime
      %td= current_user.full_name
    %tr
      %th Korisničko ime
      %td= current_user.username
    %tr
      %th Škola
      %td= current_user.school.name
    %tr
      %th Razred
      %td= current_user.grade
    %tr
      %th Spol
      %td= current_user.gender
    %tr
      %th Godina rođenja
      %td= current_user.year_of_birth.to_s + "."

= buttons do
  .btn-group
    = edit_button "Izmijeni profil", edit_account_profile_path
    = button "Izmijeni lozinku".prepend_icon("lock"), edit_student_registration_path

%p= delete_button "Izbriši korisnički račun", student_registration_path, data: {confirm: "Jesi li apsolutno sigur#{current_user.male? ? "an" : "la"} da želiš izbrisati svoj korisnički račun?"}
