- @title = "Autorizacija"

= simple_form_for @authorization do |f|

  = f.input :secret_key, as: :password, input_html: {autofocus: current_page?("show")},
    hint: "Ako nemate ključ, možete ga #{link_to "zatražiti", contact_path}."

  = buttons(f) do |b|
    = b.cancel_button "Odustani", login_path(type: "school")
    = b.submit_button "Potvrdi"
