= f.input :content, input_html: {autofocus: current_page?(action: "new"), rows: 1, class: "input-block-level"}

= image_field(f, :image)

= render "account/questions/fields/#{@question.category}", f: f, question: @question

= f.input :hint, hint_html: {class: "additional-info"}

= hidden_field_tag :category, params[:category] || @question.category
