= f.input :content, input_html: {autofocus: current_page?(action: "new"), rows: 1, class: "input-block-level"}

= f.input :image, label: false, bootstrap_wrapper: false do
  = f.input :image, as: :file, wrapper: false, error: false
  = f.input :remote_image_url, wrapper: false, error: false
  = f.hidden_field :image_cache

- if @question.image?
  = image_tag @question.image.url(:medium), class: "img-thumbnail image-preview"
- else
  = image_tag nil, class: "img-thumbnail image-preview hide"

= render "account/questions/fields/#{@question.category}", f: f, question: @question

= f.input :hint, hint_html: {class: "additional-info"}

= hidden_field_tag :category, params[:category] || @question.category
