- title @quiz.name

.clearfix
  .dropdown.pull-left.space-bottom
    = add_button "Novo pitanje".append_icon("caret-down"), "#", class: "btn btn-primary dropdown-toggle", data: {toggle: "dropdown"}
    %ul.dropdown-menu
      %li= link_to "Točno/netočno".prepend_icon("checkbox"),     new_account_quiz_question_path(category: "boolean")
      %li= link_to "Ponuđeni odgovori".prepend_icon("list"),     new_account_quiz_question_path(category: "choice")
      %li= link_to "Asocijacija".prepend_icon("shuffle"),        new_account_quiz_question_path(category: "association")
      %li= link_to "Upiši točan odgovor".prepend_icon("pencil"), new_account_quiz_question_path(category: "text")

  = button "Izmijeni redoslijed".prepend_icon("sort"), order_account_quiz_questions_path(@quiz), class: "pull-right"
  .pull-right= render "account/quizzes/activation_button", quiz: @quiz

- if not @quiz.activated?
  .alert.alert-warning
    Ovaj kviz je trenutno neaktivan, što znači da ga učenici ne vide.
    Kada ste dovršili kviz, aktivirajte ga klikom na lampicu gore (#{icon("lamp")}).

- if @questions.any?

  %ol.list-pretty
    = render partial: "question", collection: @questions

- else

  %p.no-items Ovaj kviz trenutno nema pitanja
