%li.dropdown{class: params[:controller].in?(["students", "schools"]) && "active"}
  - if current_user.is_a?(Student) && (student = current_user)
    = link_to student.username.prepend_icon("cog").append_icon("caret-down"), "#", class: "dropdown-toggle", data: {toggle: "dropdown"}
    %ul.dropdown-menu
      %li= link_to "Uredi profil".prepend_icon("user"), student
      %li= logout_button "Odjava", logout_path

  - elsif current_user.is_a?(School) && (school = current_user)
    = link_to school.username.prepend_icon("cog").append_icon("caret-down"), "#", class: "dropdown-toggle", data: {toggle: "dropdown"}
    %ul.dropdown-menu
      %li= link_to "Uredi profil".prepend_icon("home"), school
      %li= logout_button "Odjava", logout_path
