- @title = "Uređivanje profila"

= simple_form_for @user, url: profile_path do |f|

  = f.input :name
  = f.input :username
  = f.input :email
  = f.input :level, collection: School::LEVELS, include_blank: false
  = f.input :place
  = f.input :region, collection: regions, include_blank: false
  = f.input :key

  = buttons(f) do |b|
    = b.cancel_button "Odustani", profile_path
    = b.submit_button "Spremi"
