- title "Profil"

.profile

  %table.table.table-striped
    %colgroup
      %col.50
      %col

    %tbody
      %tr
        %th Ime škole
        %td= @user.name
      %tr
        %th Korisničko ime
        %td= @user.username
      %tr
        %th Email
        %td= @user.email
      %tr
        %th Tip škole
        %td= @user.level
      %tr
        %th Mjesto
        %td= @user.place
      %tr
        %th Županija
        %td= @user.region
      %tr
        %th Tajni ključ
        %td= @user.key

  = buttons do
    .btn-group
      = edit_button "Izmijeni profil", edit_profile_path
      = change_password_button "Izmijeni lozinku", edit_password_path

  %p= delete_profile_button "Izbriši korisnički račun", delete_registration_path
