!!!
%html{lang: 'hr'}
  %head
    %title Lektire · #{@title}
    %meta{charset: 'utf-8'}
    %meta{name: 'robots', content: 'noindex'}
    = favicon_link_tag
    = stylesheet_link_tag 'http://fonts.googleapis.com/css?family=McLaren&subset=latin,latin-ext'
    = stylesheet_link_tag 'application'
    = javascript_include_tag 'application'

  %body{class: body_class}
    %header
      %h1#logo= link_to "Lektire".prepend_icon("book"), root_path
      - if logged_in?
        - if current_user.is_a?(Student)
          %p#log Prijavljen si kao #{link_to current_user, current_user} | #{logout_button "Odjava", logout_path}
        - else
          %p#log Prijavljeni ste kao #{link_to current_user, current_user} | #{logout_button "Odjava", logout_path}

    %article{role: 'main'}
      - flash.each do |name, message|
        - if name.in?([:notice, :alert])
          %div{class: "flash #{name}"}
            = close_button
            %p= message

      = yield
