!!!
%html.no-js{lang: "hr"}
  %head
    %meta{charset: "utf-8"}
    %meta{:"http-equiv" => "X-UA-Compatibile", content: "IE=edge,chrome=1"}
    %title Lektire · #{@title}
    %meta{name: "robots", content: "noindex"}
    = favicon_link_tag
    = stylesheet_link_tag "application"
    = render partial: "typekit"

  %body{class: "#{params[:controller].split("/").last} #{params[:action]}"}
    .navbar.navbar-static-top.navbar-inverse
      .navbar-inner
        .container-fluid
          = link_to "Lektire".prepend_icon("books"), root_url(subdomain: false), class: "brand"

          = render partial: "navigation"

          %ul.nav.pull-right
            = render partial: "contact"
            = render partial: "log" if user_logged_in?

    - if content_for? :hero_unit
      .hero-unit
        = content_for :hero_unit

    .main_content.container-fluid
      = render partial: "flash", locals: {flash: flash}
      = render partial: "layouts/#{controller.send(:sub_layout)}"

    = javascript_include_tag "application"
