!!!
%html.no-js{lang: "hr"}
  %head
    %meta{charset: "utf-8"}
    %meta{:"http-equiv" => "X-UA-Compatibile", content: "IE=edge,chrome=1"}
    %title Kvizovi · #{title}
    %meta{name: "robots", content: "noindex"}
    = favicon_link_tag "/favicon.ico"
    = render "javascript"
    = stylesheet_link_tag    "application", :"data-turbolinks-track" => true, media: "all"
    = javascript_include_tag "application", :"data-turbolinks-track" => true
    = csrf_meta_tag

  %body{class: "l-page-#{params[:controller]} l-page-#{params[:controller]}-#{params[:action]}"}
    .navbar.navbar-static-top.navbar-inverse
      .navbar-inner
        .container
          = link_to icon("newspaper"), root_path, class: "brand"
          = user_logged_in? ? render("user_navigation") : render("navigation")

    - if content_for? :hero_unit
      .hero-unit
        = content_for :hero_unit

    .container.container-main
      = render "flash", flash: flash
      = render "breadcrumbs"

      = yield
