!!!
%html.no-js{lang: "hr"}
  %head
    %meta{charset: "utf-8"}
    %meta{:"http-equiv" => "X-UA-Compatibile", content: "IE=edge,chrome=1"}
    %title Lektire · #{title}
    %meta{name: "robots", content: "noindex"}
    = favicon_link_tag
    = stylesheet_link_tag "application"
    = render "javascript"

  %body{class: "l-page-#{params[:controller]} l-page-#{params[:controller]}-#{params[:action]}"}
    .navbar.navbar-static-top.navbar-inverse
      .navbar-inner
        .container
          = link_to icon("books"), root_path, class: "brand"
          = render "navigation"

    - if content_for? :hero_unit
      .hero-unit
        = content_for :hero_unit

    .container.container-main
      = render "flash", {flash: flash}
      = render "breadcrumbs"

      = yield

    = javascript_include_tag "application"
