!!!
%html.no-js{lang: "hr"}
  %head
    %meta{charset: "utf-8"}
    %meta{:"http-equiv" => "X-UA-Compatibile", content: "IE=edge,chrome=1"}
    %title #{title} · Kvizovi
    %meta{name: "robots", content: "noindex"}
    = favicon_link_tag "/favicon.ico"
    = render "javascript"
    = stylesheet_link_tag    "application", :"data-turbolinks-track" => true, media: "all"
    = javascript_include_tag "application", :"data-turbolinks-track" => true
    = csrf_meta_tag

  %body{class: "l-page-#{params[:controller]} l-page-#{params[:controller]}-#{params[:action]}"}
    .navbar.navbar-inverse.navbar-fixed-top
      .container
        .navbar-header
          %button.navbar-toggle{type: "button", data: {toggle: "collapse", target: ".navbar-collapse"}}
            %span.sr-only Promijeni navigaciju
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar

          = link_to icon("books"), root_path, class: "navbar-brand"

        .collapse.navbar-collapse
          = render "navigation"

    - if content_for? :jumbotron
      .jumbotron
        .container
          = content_for :jumbotron

    %main.container
      = render "flash", flash: flash
      = render "breadcrumbs"

      = yield
