!!!
%html{lang: 'hr'}

  %head

    %title Lektire
    %meta{charset: 'utf-8'}
    %meta{name: 'robots', content: 'noindex'}
    = favicon_link_tag
    = stylesheet_link_tag 'application'
    = javascript_include_tag 'application'

  %body

    %header{role: 'banner'}

      %h1 Lektire

    %article{role: 'main'}

      - if not school_logged_in?
        %p= link_to "Prijava škole", login_path
      - else
        %p Prijavljeni ste kao #{link_to current_school.full_name, admin_path}. #{link_to "Odjava", logout_path, method: :delete}

      - flash.each do |name, message|
        %p{class: "flash_#{name}"}= message

      = yield
