!!!
%html.no-js{lang: "hr"}
  %head
    %meta{charset: "utf-8"}
    %meta{:"http-equiv" => "X-UA-Compatibile", content: "IE=edge,chrome=1"}
    %title Lektire · #{@title}
    %meta{name: "robots", content: "noindex"}
    = favicon_link_tag
    = stylesheet_link_tag "application"
    = javascript_include_tag "//use.typekit.net/nfo7hcu.js"
    %script try{Typekit.load();}catch(e){}
    %script
      -# by Paul Irish (@paul_irish)
      (function(H){H.className=H.className.replace(/\bno-js\b/,'js')})(document.documentElement)

  %body{class: body_class}
    .navbar.navbar-static-top.navbar-inverse
      .navbar-inner
        .container-fluid
          = link_to "Lektire".prepend_icon("books"), root_path, class: "brand"

          = render "navigation"

          %ul.nav.pull-right
            = render "contact"
            = render "log" if user_logged_in?

    - if content_for? :hero_unit
      .hero-unit
        = content_for :hero_unit

    .main_content.container-fluid
      = render partial: "flash", locals: {flash: flash}
      = render "layouts/#{controller.send(:sub_layout)}"

    = javascript_include_tag "application"
